@use "./variables.scss" as *;

// put your custom CSS here!
.simple {
  .sidebar.left,
  .sidebar.right {
    display: none !important;
  }
  
  .center {
    max-width: var(--content-width);
    margin: 0 auto;
  }
}
